

body {
  margin: 0;
  min-height: 100vh;
  background-image: linear-gradient(to right top, #b0a8b9, #9e9fba, #8398ba, #5f93b7, #2b8ead);
}

p, h1 {
  color: #DCF5FF;
}

.carousel-item {
  padding-top: 2.5%;
}

.carousel-control-next,
.carousel-control-prev {
  opacity: 1;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: #30D98A;
  width: 40px;
  height: 40px;
  bottom: 20px; /* Adjust the value as needed */
  position: absolute;
  transform: translateY(-50%);
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
}
.carousel-item img {
  width: 100%;
  height: auto; /* Adjust the value as needed */
}

.carousel-control-prev-icon {
  left: 0;
  margin-left: 15%;
}

.carousel-control-next-icon {
  right: 0;
  margin-right: 15%;
}

/* Hover effect for better user feedback */
.carousel-control-next-icon:hover,
.carousel-control-prev-icon:hover {
  transform: translateY(-50%) scale(1.5);
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.mb-3.mb-md-0.text-body-secondary {
  filter: invert(1);
}