
body {
  margin: 0;
  min-height: 100vh;
  background-image: linear-gradient(to right top, #b0a8b9, #9e9fba, #8398ba, #5f93b7, #2b8ead);
}

p, h1 {
  color: #DCF5FF;
}

.carousel-item {
  padding-top: 2.5%;
}

.carousel-control-next,
.carousel-control-prev {
  opacity: 1;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: #30D98A;
  width: 40px;
  height: 40px;
  bottom: 20px; /* Adjust the value as needed */
  position: absolute;
  transform: translateY(-50%);
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
}
.carousel-item img {
  width: 100%;
  height: auto; /* Adjust the value as needed */
}

.carousel-control-prev-icon {
  left: 0;
  margin-left: 15%;
}

.carousel-control-next-icon {
  right: 0;
  margin-right: 15%;
}

/* Hover effect for better user feedback */
.carousel-control-next-icon:hover,
.carousel-control-prev-icon:hover {
  transform: translateY(-50%) scale(1.5);
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

}
.mb-3.mb-md-0.text-body-secondary {
  filter: invert(1);
  
}

/* Styles for social media links */
.right-align a {
  display: flex;
  align-items: center;
}

.right-align a svg {
  margin-right: 6px; /* Adjust as needed for spacing between icon and text */
}

/* Hide the text visually but keep it for screen readers */
.right-align a span.sr-only {
  
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
/* Custom Button Styles for 'View Project' Buttons */
.btn-view-project {
  background-color: #30D98A; /* Teal color, similar to your carousel control icons */
  color: white; /* White text */
  border: none; /* No border */
}

.btn-view-project:hover {
  background-color: #28be7f; /* A slightly darker shade of teal for hover effect */
  color: #DCF5FF; /* Light blue color for the text on hover */
}
/* Custom styles for inverted color scheme on portfolio cards */
.card {
  
  color: #DCF5FF; /* Light blue text color as per your theme */
  border: none; /* No border */
}

.card-title {
  color: white; /* White color for titles for better readability */
}

.card-body a.btn-view-project {
  color: white; /* Teal text color to match the card background */
  background-color: #30D98A; /* Light blue background */
  border: none; /* No border */
}

.card-body a.btn-view-project:hover {
  background-color: #FF6B6B; /* A different color for hover, maybe a shade from your gradient */
  color: white; /* White text on hover */
}
.btn-custom {
  background-color: #30D98A; /* Teal background */
  color: white; /* White text */
  border: none
}

.btn-custom:hover {
  background-color: #28be7f; /* Slightly darker teal for hover */
  color: #DCF5FF; /* Light blue text on hover */
  border-color: #28be7f; /* Border color on hover */
}




